{% extends 'master.html' %}

{% block title %}
See flights
{% endblock title %}
{% block content %}
{% block scripts %}
<script>
</script>
{% endblock scripts %}


<table id="sortTable" class="display table table table-condensed table-hover table-striped" style="width:100%; overflow-y: auto;">
    <thead>
        <tr>
            <th data-column-id="id" data-identifier="true" >Flight ID</th>
            <th data-column-id="from">From</th>
            <th data-column-id="to">To</th>
            <th data-column-id="takeoff_date">Takeoff Date</th>
            <th data-column-id="landing_date">Landing Date</th>
            <th data-column-id="plane_type">Plane Type</th>
            <th data-column-id="plane_id">Plane ID</th>
            <th data-column-id="pilot_name">Pilot Name</th>
            <th data-column-id="normal_ticket_count">Normal Ticket Count</th>
            <th data-column-id="normal_ticket_price">Normal Ticket Price</th>
            <th data-column-id="business_ticket_count">Business Ticket Count</th>
            <th data-column-id="business_ticket_price">Business Ticket Price</th>
            <th>Book</th>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.pk }}</td>
            <td>{{ item.from_location }}</td>
            <td>{{ item.to_location }}</td>
            <td>{{ item.takeoff_time }}</td>
            <td>{{ item.landing_time }}</td>
            <td>{{ item.plane_type }}</td>
            <td>{{ item.plane_id }}</td>
            <td>{{ item.pilot_name }}</td>
            <td>{{ item.normal_ticket_count }}</td>
            <td>{{ item.normal_ticket_price }} BGN</td>
            <td>{{ item.business_ticket_count }}</td>
            <td>{{ item.business_ticket_price }} BGN</td>
            <td><a href="/book/{{ item.pk }}">Book Here</a>
            
        </tr>
        {% endfor %}
    </tfoot>
</table>


{% include 'footer.html' %}
{% endblock content %}